div.table {
	width:742px;
	/*height:300px;*/
	border: 1px solid #0099CC;
	/* overflow: auto; */
	position: relative;
	margin-bottom: 66px;
}

#learngrow_perspective {
	display: block;
}

#business_perspective {
	display: none;
}

#customer_perspective {
	display: none;
}

#financial_perspective {
	display: none;
}

#page_content div.row {
	width:740px;
	height: 50px;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
}

div.hoverrow:hover {
	background: #b3ecff;
}

div.field {
	width: 14.28%;
	height: 50px;
	float:  left;
	display: flex;
	align-items: center;
	font-size: 13px;
	font-family: verdana, sans-serif;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	justify-content: center;
	text-align: center;
}

div.first {
	border-left: none;
}

div.titlerow {
	width:740px;
	height: 50px;
	position: relative;

	background: #0099CC;
	color: white;
	font-weight: bold;
	font-size: 13px;
	font-family: verdana,sans-serif 
}

.div-button-inactive {
	background-color: #f6f6f6;
	width: 100px;
	height: 90px;
	margin: 15px;
	opacity: 1;
	float: left;
	font-size: 13px;
	font-family: verdana,sans-serif
}

.div-button-inactive i {
	opacity: 0.5;
}

.div-button-inactive span {
	opacity: 0.5;
}

.div-button-inactive:hover{
	cursor: pointer;
}

.div-button-active i {
	color:white;
}

.div-button-active span {
	color: white;
}

.div-button-active {
	background-color: #1372aa;
	width: 100px;
	height: 90px;
	margin: 15px;
	float: left;
	font-size: 13px;
	font-family: verdana,sans-serif
}

input.tableinput {
	width: 95%; /*138px;*/
	height: 40px;
}

button.tableinput {
	width: 95%;/*138px;*/
	height: 40px;
}

#historic_data_table {
	border: 1px solid #0099CC;
    border-collapse: collapse;
	margin: 10px;
	font-size: 13px;
	font-family: verdana, sans-serif;
}

#historic_data_table tr:hover{
    background: #b3ecff;
}

#historic_data_table th{
    background: #0099CC;
	color: white;
}

#historic_data_table td, #historic_data_table th{
    text-align: center;
}

.tour-backdrop,
.tour-step-background {
    z-index: 0;
}

/*override bootstrap with layout.css rules*/
#page_content body {
    margin: 0
}

#page_content p, #page_content ul li {
	color: #000;
	font-size: 13px;
	font-family: verdana,sans-serif
}

#page_content p {
	line-height: 1.8;
	text-align: justify;
	padding: 3px 16px;
}

#page_content button {
	line-height: 1;
}

#page_content h2 {
    margin: 0;
    color: #de1515;
    padding: 1rem 0 0rem 1rem;
	font-style: normal;
	font-weight: 400;
	clear: both;
	font-size: 21px;
	font-family: tahoma
}

#page_content h1 {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
}
#page_content h3 {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}