/*bscapp*/
html {
    box-sizing: border-box;	
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    margin: 0
}

p, ul li {
	color: #000;
	font-size: 13px;
	font-family: verdana,sans-serif
}

p {
	line-height: 1.8;
	text-align: justify;
	padding: 3px 16px;
}

button {
	line-height: 1;
}

h2 {
    margin: 0;
    color: #de1515;
    padding: 1rem 0 0rem 1rem;
	font-style: normal;
	font-weight: 400;
	clear: both;
	font-size: 21px;
	font-family: tahoma
}

h1 {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
}
h3 {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

blockquote {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5667px;
}

#page {
	background: #e5e8e8;
	background-image: url(../img/background.png), url(../img/background.png);
	background-position: right top, left top;
	background-repeat: no-repeat, no-repeat;
	width: 100%;
}

#mainpage {
	height: auto;
	max-width: 1200px;
	margin: 0 auto;
	background: white;
}

.site-content {
	min-height: 36rem;
	padding: 0 30px 0 30px;
}

#main-content {
	position: relative;
	float: left;
	max-width: 840px;
}

#main-content ul {
	list-style-type: none;
	margin-left: 20px;
	line-height: 2
}

#main-content ul li {
	text-indent: -5px;
}

#main-content ul.dashed > li::before {
    content: "-";
    text-indent: -6px;
    right: 5px;
    position: relative;
}

#sidebar {
	position: relative;
	float: right;
	width: 260px;
	padding: 1rem 1.5rem;
	margin-top: 60px;
	text-align: center;
}

#sidebar button {
	color: #fff;
	background: linear-gradient(#2197f9,#007ce2);
	line-height: 1.4;
	font-size: 12px;
	vertical-align: middle;
	border-radius: 3px;
	border: solid 1px #007ce2;
	padding: 3px 8px 6px 8px;
	letter-spacing: 0;
	cursor: pointer;
	margin: 10px 14px 0 0;
	width: 12rem;
	font-weight: 600;
}

#sidebar button.alt {
	border: solid 1px red;
	padding: 5px 8px;
	background: linear-gradient(#ff6b6b,#ec2929);
}

#sidebar button img {
	position: relative;
	top: 3px;
	left: 4px;
}

#sidebar button .fa {
	position: relative;
	font-size: 14px;
	left: 4px;
}

#sidebar button:hover {
	opacity: .8;
}

@media only screen and (max-width:1200px) { 
	#sidebar {
		text-align: center;
		margin: 1rem auto;
		width: 100%;
	}
}

#to-website {
	color: #fff;
	background: linear-gradient(#2197f9,#007ce2);
	line-height: 1.4;
	font-size: 12px;
	vertical-align: middle;
	border-radius: 3px;
	border: solid 1px #007ce2;
	padding: 3px 8px 6px 8px;
	letter-spacing: 0;
	cursor: pointer;

	width: 14rem;
	font-weight: 600;
}
