{% extends "bscapp/base.html" %}
{% load static %}

{% block addHead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bsc.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/appmenu.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/bsc.js' %}"></script>
<script type="text/javascript" src="{% static 'js/transition.js' %}"></script>
{% endblock %}

{% block content %}
    <div style="float:left; margin-left: 66px; width: 740px">
        <h1>About Balanced Scorecard</h1>
        <p>Balanced Scorecard is a strategic planning and management merthod that aims to align regional authority
            activities to the vision and strategy of the region. It has been developed, in order to produce a strategic
            performance measurement system, that could use both non-financial measures and financial metrics, providing
            a balanced view of the performance of policy implementation processes.</p>

        <p>The balanced scorecard application is a tool that helps identify what needs to be done and what should be
            measured, based on the RIS3 strategic plan of the region. The balanced scorecard uses four perspectives to
            develop metrics and collect data:</p>

        <ul>
            <li>Learning and growth perspective: To achieve our vision, how must our region learn and improve? -
                Objectives and performance measures associated with the development of enabling culture and competencies.</li>
            <li>Internal regional perspective: To satisfy our citizens, at which processes must we excel? - Objectives
                and performance measures associated with the region’s internal productive processes.</li>
            <li>Citizen perspective: To achieve our vision, how must we look to our citizens? - Objectives and
                performance measures associated with the citizens’ perception of and interaction with the region.</li>
            <li>Vision perspective: If we succeed, how will we look to our citizens? - Objectives and performance
                measures associated with the citizens’ perception and expectation of the region.</li>
        </ul>

        <p>Once each of the four areas has been investigated, goals and objectives need to be put in place in order to
            address any issues that may have been found. A balanced score card should result in improved processes,
            motivated and educated regional authority employees, monitored progress, greater citizen (stakeholder)
            satisfaction. Moreover, it should support a holistic perspective on the structure robustness of the policy
            design model, as well as aid better informed decision-making processes. The balanced scorecard is not a
            one-time process and should act as a feedback method that is applied continuously.</p>
    </div>
{% endblock %}