{% extends "bscapp/base.html" %}
{% load static %}

{% block addHead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bsc.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/appmenu.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/bsc.js' %}"></script>
<script type="text/javascript" src="{% static 'js/transition.js' %}"></script>
{% endblock %}

{% block content %}
    <div style="float:left; margin-left: 66px; width: 740px">
        <h1>About Balanced Scorecard</h1>
        <p>The balanced scorecard is a tool that aims to provide strategic planning and management. It aims to help users keep
                track of core aspects of a project, measure their success, and set goals. This will allow users to look back on
                historical data about their project and compare their current measures with the goals they had previously set.
            <br>
            The balanced scorecard focuses on four perspectives: learning and growth perspective, business perspective, customer
                perspective, and the financial perspective. The learning and growth perspective focuses on maintaining a current and
                modern knowledge of new technologies; it focuses on training workers in new areas that can help the most.  The
                business perspective is used to produce metrics about how well the products and services that a business provides
                are meeting customer requirements as well as the mission and strategic vision of the business. The customer
                perspective focuses on customer satisfaction. The financial perspective focuses on how well the business is doing
                financially and analyses financial data.
            <br>
            A balanced score card should result in improved processes, motivated and educated employees, monitored progress, greater
                customer satisfaction, and support a holistic perspective on the financial robustness of the business model as well
                as aid better informed investment planning.
            <br>
            The balanced scorecard is not a one-time implementation and should act as a feedback system that is improved continuously.
        </p>
    </div>
{% endblock %}