<div style="width: 260px; border: 1px solid #ddd; margin-top: 66px">
    <h2>Online Steps</h2>
    <ul>
        <li onclick="test(this)">
            <div class="menu">
                <span class="menu_title">Governence</span>
                <ul class="submenu">
                    <li>RIS3 Vision Sharing</li>
                    <li>Stakeholder Engagement</li>
                    <li>RIS3 Debate at a Glance</li>
                    <li>RIS3 Legal and Administrative Framework Related to ESIF</li>
                </ul>
            </div>
        </li>
        <li onclick="test(this)">
            <div class="menu">
                <span class="menu_title">Analysis of Context</span>
                <ul class="submenu">
                    <li><a href="http://assetsmapping.s3platform.eu/">Regional Assets Mapping</a></li>
                    <li><a href="http://rimapping.s3platform.eu/">Research Infrastructure Mapping</a></li>
                    <li>Clusters, Incubators, and Innovation Ecosystem Mapping</li>
                    <li><a href="http://benchmarking.s3platform.eu/">Benchmarking</a></li>
                    <li>Regional Scientific Production Profile</li>
                    <li>Specialisation Indexes</li>
                    <li>SWOT Analysis</li>
                </ul>
            </div>
        </li>
        <li onclick="test(this)">
            <div class="menu">
                <span class="menu_title">Strategy Formulation</span>
                <ul class="submenu">
                    <li>Collaborative Vision Building</li>
                    <li>Scenario Building</li>
                    <li>Delphi - Foresight</li>
                </ul>
            </div>
        </li>
        <li onclick="test(this)">
            <div class="menu">
                <span class="menu_title">Priority Setting</span>
                <ul class="submenu">
                    <li>EDP Focus Group</li>
                    <li>Extroversion Analysis</li>
                    <li>Related Variety Analysis</li>
                </ul>
            </div>
        </li>
        <li onclick="test(this)">
            <div class="menu">
                <span class="menu_title">Policy Mix</span>
                <ul class="submenu">
                    <li>RIS3 Intervention Logic</li>
                    <li>RIS3 Action Plan Co-Design</li>
                    <li>RIS3 Budgeting</li>
                    <li>State Aid Law Compliance for RIS3</li>
                    <li>RIS3 Calls Consultation</li>
                    <li>RIS3 Innovation Maps</li>
                    <li>RIS3 Open Data Tool</li>
                </ul>
            </div>
        </li>
        <li onclick="test(this)">
            <div class="menu">
                <span class="menu_title show">Monitoring and Evaluation</span>
                <ul class="submenu show">
                    <li>RIS3 monitoring</li>
                    <li>Definition of RIS3 output and result indicators</li>
                    <li><b>Balanced scorecard</b></li>
                    <li>RIS3 beneficiaries and end users’ satisfaction online survey</li>
                    <li>RIS3 social media analysis</li>
                </ul>
            </div>
        </li>
    </ul>
</div>
